<%- include('head') %> 
<body>
 <%- include('entete') %>
 <%- include('form_post') %>
 <%- include('adr') %>
 <%- include('footer') %>
</body>


<script type="text/javascript">

////////////////////////////////fonction pour bouton sauver ajax
let elmSauver = document.querySelectorAll('.sauver')
console.log('elmSauver = ' + elmSauver.length)
for (elm of elmSauver) {
	elm.addEventListener('click', function(){

		let laLigne = this.parentNode.parentNode
		let id = laLigne.children[0].innerHTML
		let nom = laLigne.children[1].innerHTML
		let prenom = laLigne.children[2].innerHTML
		let telephone = laLigne.children[3].innerHTML
		let courriel = laLigne.children[4].innerHTML

		console.log('ok')
		xhr = new XMLHttpRequest();
		xhr.open('POST', "ajax_modifier", true);

		data = { 
			"nom" : nom.innerHTML,
			"prenom" : prenom.innerHTML,
			"telephone" : telephone.innerHTML,
			"courriel" : courriel.innerHTML,
			"_id" : id.innerHTML 
		}

		sData = JSON.stringify(data);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.send(sData);
		xhr.addEventListener("readystatechange", traiterRequest, false);

	 })
 }

let elmSupprimer = document.querySelectorAll('.supprimer')
for (elm of elmSupprimer) {
    elm.addEventListener('click', function() {

        let laLigne = this.parentNode.parentNode    
        let id = laLigne.children[0].innerHTML
        let nom = laLigne.children[1].innerHTML
        let prenom = laLigne.children[2].innerHTML
        let telephone = laLigne.children[3].innerHTML
        let courriel = laLigne.children[4].innerHTML

        console.log('ok')
		xhr = new XMLHttpRequest();
		xhr.open('POST', "ajax_supprimer", true);
        
        data = {
            "nom" : nom.innerHTML,
			"prenom" : prenom.innerHTML,
			"telephone" : telephone.innerHTML,
			"courriel" : courriel.innerHTML,
			"_id" : id.innerHTML
        }
            
        sData = JSON.stringify(data);
        xhr.setRequestHeader('Content-type', 'application/json');
        xhr.send(sData);
        xhr.addEventListener("readystatechange", traiterRequest, false);   
    })
}

// Pour traiter le résultat transmis par l'application serveur 
function traiterRequest(e) {
	console.log("xhr.readyState = " + xhr.readyState)
	console.log("xhr.status = " + xhr.status)
	if(xhr.readyState == 4 && xhr.status == 200) {
		console.log('ajax fonctionne')
		var response = JSON.parse(xhr.responseText);
		console.log(response)
		console.log("response._id = " + response._id)
		console.log(xhr.responseText);

		// elmLigne.style.backgroundColor = "#0f0"
	}
}
</script>
</html>